<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<bean id="beanImage" class="com.xworkz.image_gallery.beans.ImageGalleryBeans">
<property name="imageId" value="1"></property>
<property name="imageType" value=".png"></property>
<property name="imgSize" value="12mb"></property>
<property name="date" value="07/07/21"></property>
</bean>

</beans>